body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    color:  white;
    text-decoration: none;
    margin-left: 1.5rem;
    padding: 0.5rem 1rem;
}