{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div>
        <h1>Удаление заметки</h1>
        <form method="POST" class="form">
            <p>Вы точно хотите удалить заметку: {{ note.title }}?</p>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="button-block">
                <button type="submit" class="button-block__button">Удалить</button>
                <a href="{% url 'notes:notes_list' %}" class="button-block__button">Отмена</a>
            </div>
        </form>
    </div>
{% endblock %}