{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div>
            <div class="header-notes">
                <a href="{% url 'notes:note_create' %}" class="button-block__button">Создать заметку</a>
                <form method="get">
                    <div class="search-block">
                        <input type="text" class="input-search" name="q" placeholder="Поиск по заметкам" value="{{ search_query }}">
                        <button type="submit" class="nav__button">Найти</button>
                    </div>
                </form>
            </div>
            <h1>Заметки</h1>
            <div class="notes-list">
                {% if page_notes %}
                    {% for n in page_notes %}
                        <div class="note-card">
                            <h3>{{ n.title }}</h3>
                            <p>{{ n.content|striptags|truncatewords:30 }}</p>
                            <div class="button-block">
                                <a href="{% url 'notes:note_update' n.id %}" class="button-block__button">Изменить</a>
                                <a href="{% url 'notes:note_delete' n.id %}" class="button-block__button">Удалить</a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Заметки не найдены!</p>
                {% endif %}
                
                <div class="pagination">
                    <span class="step-links">
                        {% if page_notes.has_previous %}
                            <a href="?{% if search_query %}q={{ search_query }}&{% endif %}page=1">&laquo; первая</a>
                            <a href="?{% if search_query %}q={{ search_query }}&{% endif %}page={{ page_notes.previous_page_number }}">предыдущая</a>
                        {% else %}
                            <span class="disabled">&laquo; первая</span>
                            <span class="disabled">предыдущая</span>
                        {% endif %}
                        
                        <span class="current">
                            Страница {{ page_notes.number }} из {{ page_notes.paginator.num_pages }}
                        </span>
                        
                        {% if page_notes.has_next %}
                            <a href="?{% if search_query %}q={{ search_query }}&{% endif %}page={{ page_notes.next_page_number }}">следующая</a>
                            <a href="?{% if search_query %}q={{ search_query }}&{% endif %}page={{ page_notes.paginator.num_pages }}">последняя &raquo;</a>
                        {% else %}
                            <span class="disabled">следующая</span>
                            <span class="disabled">последняя &raquo;</span>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    {% else %}
        <h1>Если пользователь не зареган!</h1>
    {% endif %}
{% endblock %}