{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div>
            <div class="header-notes">
                <a href="{% url 'notes:note_create' %}" class="button-block__button">Создать заметку</a>
                <form method="get">
                    <div class="search-block">
                        <input type="text" class="input-search" name="q" placeholder="Поиск по заметкам" value="{{ search_query }}">
                        <button type="submit" class="nav__button">Найти</button>
                    </div>
                </form>
            </div>
            <h1>Заметки</h1>
            <div class="notes-list">
                {% if notes %}
                    {% for n in notes %}
                        <div class="note-card">
                            <h3>{{ n.title }}</h3>
                            <p>{{ n.content|striptags|truncatewords:30 }}</p>
                            <div class="button-block">
                                <a href="{% url 'notes:note_update' n.id %}" class="button-block__button">Изменить</a>
                                <a href="{% url 'notes:note_delete' n.id %}" class="button-block__button">Удалить</a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Заметок пока нет!</p>
                {% endif %}
            </div>
        </div>
    {% else %}
        <h1>Если пользователь не зареган!</h1>
    {% endif %}
{% endblock %}