{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <div>
        <h1>Регистрация</h1>
        <form method="POST" class="form">
            <div class="form-block">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <button type="submit" class="button-block__button">Зарегистрироваться</button>
            <a href="{% url 'users:login' %}" style="padding-top: 1rem; text-decoration: none;">Есть аккаунт?</a>
        </form>
    </div>
{% endblock %}
